.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 3em;
    padding-bottom: 5em;
}

.projects h2{
    font-size: 2em;
    margin-top: 1em;
}

.projects__project{
    display: flex;
    padding: 0 3em;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.project {
    background: rgb(99, 95, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 46px;
    transition: background 1s;
    /* float: left; */
  }

  .project:hover{
      background: #5F9EA0;
  }
  .project h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
    color: black;
  }
  .project p {
    font-size: .85em;
    letter-spacing: .5px;
    margin: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
  }
  
  .project a {
    position: relative;
    float: right;
    margin-right: 10px;
    color: #d8e792;
    border: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    height: 36px;
    cursor: pointer;
    outline: none;
  }

  @media (max-width: 1168px) {

    .projects__project{
      padding: 0em 2em;
    }
  }

  @media (max-width: 1136px) {
    .projects__project{
      padding: 0em 1em;
    }
  }

  @media (max-width: 736px) {
    .project{
      padding: 7px;
      width: 220px;
      margin: 40px;
    }
  }

  @media (max-width: 676px) {
    .projects__project{
      flex-direction: column;
      align-items: center;
    }
  }

